<div class = index>
	<div class="login-page">
 		<h2>Sign Up</h2>
  			<div class="form">
  				<form class="register-form">
					<table>
	  					<tr>
							<td>Name</td>
							<td><input type="text" placeholder="name" ng-model="user" /></td>
	 					 </tr>
	  					 <tr>
							<td>Email</td>
							<td><input type="text" placeholder="email" ng-model="email"/></td>
	  					</tr>
	  					<tr>
							<td>Password</td>
							<td><input type="password" placeholder="password" ng-model="pwd" /></td>
	  					</tr>
	  					<tr>
	  						<td>Address</td>
							<td><input type="text" placeholder="address" ng-model="address" /></td>
	  					</tr>
	  					<tr>
							<td colspan="2" align="center">
		 					<button ng-click=submit(user,email,pwd,address)>submit</button>
		 					<p>{{Status}}</p>
		
	  					</tr>
					</table>
  				</form>
 		 </div>
  	</div>
 </div>
  